<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @stability_job.errors.any? %>
        <div class="bg-danger">
          <p><%= pluralize(@stability_job.errors.count, "error") %> prohibited this job from starting:</p>
          <ul>
            <% @stability_job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for @stability_job, url: {action: "create"}, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="pdb_id">PDB ID</label>
          <div class="col-sm-10">
            <%= f.text_field :pdb_id, class: "form-control", value: @stability_job.pdb_id.nil? ? "2OCJ" : @stability_job.pdb_id %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="mutations">Mutations</label>
          <div class="col-sm-10">
            <!-- <%#<%= f.text_area :mutations, size: "60x16", class: "form-control", value: @stability_job.mutations.nil? ? "F134L\nV143A\nL145Q\nP151S\nV157F\nR175H\nI195T\nN235K\nN239Y\nC242S\nG245S\nR249S\nR273C\nR273H\nR282Q" : @stability_job.mutations.split(" ").join("\n") %>%> -->
            <%= f.text_area :mutations, size: "60x16", class: "form-control", value: @stability_job.mutations.nil? ? "F134L\nV143A" : @stability_job.mutations.split(" ").join("\n") %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Go!", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

